<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= home_index_path %>">AnimeWorld</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= home_index_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= home_about_path %>">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= characters_path %>">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= publishers_path %>">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= comic_books_index_path %>">Comic Books</a>
        </li>
      </ul>
      <form class="d-flex" method="GET" action="<%= character_search_path %>">
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
