
    <%= render 'shared/menu' %>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Name</th>
                <th>Deck</th>
            </tr>
        </thead>
        <tbody>
            <% @characters.each do |character| %>
            <tr>
                <td><img src="<%= character.image_thumb %>" alt="<%= character.name %> Thumbnail"></td>
                <td><%= link_to character.name, character_path(character), style: "text-decoration: none;" %></td>
                <td><%= character.deck %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

<%= paginate @characters %>
</div>
